.logo span.s {
  font-size: 30px !important;
  font-family: serif !important;
}
.logo {
  font-family: "Gentium Book Plus", serif !important;
  font-weight: 200 !important;
  font-size: 25px !important;
}

.sub-btn {
  position: relative;
  background-color: rgb(230, 34, 77);
  border-radius: 5px;
  box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
  padding: 15px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: fit-content;
  text-transform: capitalize;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  border: none;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;
}

.sub-btn::before {
  content: "";
  background-color: rgb(248, 50, 93);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
}

.sub-btn:hover::before {
  width: 100%;
}
