@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Inter&display=swap");

:root {
  --main-background-color: #e0fbfc;
  --main-font-color: black;
  --main-card-color: #e0fbfc;
  --main-navbar-color: #293241;
  --main-font-navbar-color: #e0fbfc;
  --main-active-navbar-color: #eeae4d;
  --primary-color: #3d5a80;
  --secondary-color: #ee6c4d;
  --info-color: #98c1d9;
  --white-color: #e0fbfc;
  --black-color: #293241;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--main-background-color);
  color: var(--main-font-color);
}
.nav-text{
  color: var(--main-font-navbar-color);
}
.text-gold{
  color: greenyellow !important;
}

.nav-bg {
  background-color: var(--main-navbar-color);
}
.nav-text {
  background-color: var(--main-font-navbar-color);
}
.active-font {
  color: var(--main-active-navbar-color);
}
.logo-gold {
  color: greenyellow;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
